#################################################
# Prevent large data files getting into the repo
#################################################
src/data/cptc_18/
src/data/cptc_18_full/

# Pickled files -> should never be shared
*.pkl
*.png

#################################################
# Python-related data (copied from other projects
#################################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
